.pfooter {
  margin: 973px 0px 105px 0px;
  background: white;
  background-box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  bottom: 0;
  bottom-height: 100px;
  bottom-min-width: 100%;
  bottom-position: absolute;
}

.logo_footer {
  margin: 11px 0px 15px 9.3%;
  float: left;
}

.logo_footer_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 87%;
  line-height: 24px;
  margin-top: -25px;
  color: rgba(31, 32, 65, 0.75);
}

.navigator_footer {
  float: left;
  margin: 19.9px 0px 15px 3.5%;
  font-size: 16.5px;
}

.main_text_footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 71.2%;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.child_text_footer {
  margin: 21px 0px 0px 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.aboutus_footer {
  float: left;
  margin: 19.9px 0px 15px 4%;
}

.main_text2_footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 75%;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.child_text2_footer {
  margin: 21px 0px 0px 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.service_footer {
  float: left;
  margin: 20px 0px 15px 6.5%;
}

.main_text3_footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 75%;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.child_text3_footer {
  margin: 21px 0px 0px 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.podpiska_footer {
  float: left;
  margin: 20px 0px 15px 3.9%;
  width: 300px;
  height: 168px;
  left: 440px;
  top: 1004px;
}

.main_text4_footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 75%;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-left: -3px;
  margin-top: 10.5px;
}

.child_text4_footer {
  margin: 20px 0px 0px -3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.child_text4_footer[type="search"] {
  margin-top: 6px;
  width: 260px;
  height: 44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background-image: url("../img/arrow_forward.png");
  background-repeat: no-repeat;
  background-position: 230px;
}

.child_text4_footer[placeholder="Email"] {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
  color: rgba(31, 32, 65, 0.493);
}

.clear {
  clear: both;
}

.footer_footer {
  width: 1440px;
  height: 70px;
  margin: 0 auto;
}

.footer_box_text {
  margin: 113px 0px 0px 131px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13.7px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75);
}

.logo_twitter {
  width: 24px;
  float: right;
  margin: -18.5px 1.46% 0px 0px;
}

.logo_facebook {
  float: right;
  margin: -20px 1.56% 0px 0px;
}

.logo_intagram {
  float: right;
  margin: -20px 10.4% 0px 0px;
}
/*# sourceMappingURL=footer_style.css.map */