.footer {
  height: 100px;
  margin: 0 auto;
  margin-width: 100%;
}

.pfooter {
  background: white;
  background-box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}

.logo_footer {
  float: left;
  width: 260px;
  width-margin: 26px 0px 15px 4.2%;
}

.logo_footer_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: -10px;
  color: rgba(31, 32, 65, 0.75);
}

.navigator_footer {
  float: left;
  margin: 30px 0px 15px -1.44%;
}

.main_text_footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 71.2%;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.child_text_footer {
  margin: 21px 0px 0px 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.aboutus_footer {
  float: left;
  margin: 30px 0px 15px -1.8%;
}

.main_text2_footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 71.2%;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.child_text2_footer {
  margin: 21px 0px 0px 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.service_footer {
  float: left;
  margin: 30px 0px 15px 1%;
}

.main_text3_footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 71.2%;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.child_text3_footer {
  margin: 21px 0px 0px 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.podpiska_footer {
  float: left;
  margin: 30px 0px 15px -2%;
  width: 300px;
  height: 168px;
  left: 440px;
  top: 1004px;
}

.main_text4_footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 71.2%;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.child_text4_footer {
  margin: 19px 0px 0px 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.child_text4_footer[type="search"] {
  margin-top: 22px;
  width: 260px;
  height: 44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border-radius: 5px;
  background-image: url("../img/arrow_forward.png");
  background-repeat: no-repeat;
  background-position: 230px;
}

.child_text4_footer[placeholder="Email"] {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
  color: rgba(31, 32, 65, 0.25);
}

.footer_footer {
  background-color: red;
  position: absolute;
  top: 111;
  clear: both;
  position: absolute;
  float: left;
  width: 1440px;
  width-height: 70px;
  left: -1px;
  top: 1273px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.absoulte_1 {
  background-color: red;
}
/*# sourceMappingURL=footer_style.css.map */