WARNING on line 75, column 3 of body_style.sass: 
This selector doesn't have any properties and won't be rendered.
   ╷
75 │         color:rgba(31, 32, 65, 0.75)
   │         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
   ╵

WARNING on line 112, column 3 of body_style.sass: 
This selector doesn't have any properties and won't be rendered.
    ╷
112 │         color:rgba(31, 32, 65, 0.75)
    │         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    ╵

WARNING on line 149, column 3 of body_style.sass: 
This selector doesn't have any properties and won't be rendered.
    ╷
149 │         color:rgba(31, 32, 65, 0.75)
    │         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    ╵

@charset "UTF-8";
body {
  background-color: #ffffff;
}

.mybody {
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.window_find_nom {
  position: absolute;
  width: 380px;
  height: 374px;
  left: 0px;
  margin: 5px 0px 0px 9.7%;
  top: 15.6%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

#h1_win {
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  width: 320px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  padding: 15px 30px 0px 30px;
}

.block_prib_win {
  float: left;
}

.main_prib_win {
  margin: -4px 0px 0px 28.7px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.form_prib_win {
  margin: 0px 0px 30px 0px;
}
.form_prib_win[type=search] {
  margin: -10.7px 0px 0px 29px;
  width: 150px;
  height: 44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border-radius: 5px;
  background-image: url("../img/expand.svg");
  background-repeat: no-repeat;
  background-position: 121px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}
.form_prib_win[placeholder="ДД.ММ.ГГГГ"] {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13.9px;
  line-height: 24px;
  padding-left: 13px;
}
.block_viesd_win {
  margin-left: 200px;
}

.main_viesd_win {
  margin: -4px 0px 0px -1px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.form_viesd_win {
  margin: 0px 0px 0px 0px;
}
.form_viesd_win[type=search] {
  margin: -10.7px 0px 0px -1px;
  width: 150px;
  height: 44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border-radius: 5px;
  background-image: url("../img/expand.svg");
  background-repeat: no-repeat;
  background-position: 121px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}
.form_viesd_win[placeholder="ДД.ММ.ГГГГ"] {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13.9px;
  line-height: 24px;
  padding-left: 13px;
}
.block_guest_win {
  margin: 20px 0px 0px 29px;
}

.main_guest_win {
  margin: 0px 0px 0px 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.form_guest_win {
  margin: 0px 0px 0px 0px;
}
.form_guest_win[type=search] {
  margin: -10px 0px 0px 0px;
  width: 320px;
  height: 44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border-radius: 5px;
  background-image: url("../img/expand.svg");
  background-repeat: no-repeat;
  background-position: 290px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}
.form_guest_win[placeholder="Сколько гостей"] {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-left: 13px;
}
.block_button_win {
  margin: 42px 0px 0px 0px;
}

.button_win {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 11.8px;
  line-height: 15px;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  border-radius: 22px;
  padding: 13px 92.5px 13px 92.5px;
  border-color: #bc9cff;
  background-color: #bc9cff;
  background-image: url("../img/arrow_forward_white.svg");
  background-repeat: no-repeat;
  background-position: 287px;
  text-align: center;
  margin: 0px 0px 0px 29px;
  color: white;
  text-decoration: none;
}
